name: Clojure CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: check out repo
        uses: actions/checkout@v4

      - name: Set up JDK 1.8 
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 8

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.2
        with:
          # Install just one or all simultaneously
          # The value must indicate a particular version of the tool, or use 'latest'
          # to always provision the latest version
          cli: 1.11.4.1474
          lein: 2.11.2
          cljfmt: latest

      # Optional step:
      - name: Cache clojure dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
            ~/.deps.clj
            # List all files containing dependencies:
          key: cljdeps-${{ hashFiles('project.clj') }}
          restore-keys: cljdeps-

      - name: Install dependencies
        run: lein -U deps

      - name: Run tests
        run: lein test

      - name: Import GPG Key
        if: github.ref == 'refs/heads/devel' || github.ref == 'refs/heads/master'
        run: echo -n "$CLOJARS_SIGN_GPG_PRIVATE_KEY" | base64 --decode | gpg --import
        env:
          GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }}

      - name: Deploy snapshots
        if: github.ref == 'refs/heads/devel' || github.ref == 'refs/heads/master'
        run: lein deploy
        env:
          CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
          CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}
